{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pt-page pb-page">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <h1 class="title"><i class="icon-cog-alt"></i> {{.Title}}</h1>
      <div class="content">{{.Content}}</div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink | absURL }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink | absURL }}"></script>
  {{ end }}
{{ end }}