{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro pt-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container pb-page">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <h4 class="mt-4 mb-2"><i class="icon-clock"></i>我们的工作时间：</h4>
      <table class="table table-sm opening-hours-table">
        <tr>
          <td class="day font-weight-bold">星期一</td>
          <td class="opens">上午 10:00</td>
          <td>-</td>
          <td class="closes">下午 6:00</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">星期二</td>
          <td class="opens">上午 10:00</td>
          <td>-</td>
          <td class="closes">下午 6:00</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">星期三</td>
          <td class="opens">上午 10:00</td>
          <td>-</td>
          <td class="closes">下午 6:00</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">星期四</td>
          <td class="opens">上午 10:00</td>
          <td>-</td>
          <td class="closes">下午 6:00</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">星期五</td>
          <td class="opens">上午 10:00</td>
          <td>-</td>
          <td class="closes">下午 6:00</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">星期六</td>
          <td class="opens"><em>休息</em></td>
          <td></td>
          <td class="closes"></td>
        </tr>
        <tr>
          <td class="day font-weight-bold">星期日</td>
          <td class="opens"><em>休息</em></td>
          <td> </td>
          <td class="closes"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
{{ end }}